* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*main page // footer styles*/
nav {
  width: 100%;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(17, 17, 17);
  color: #fff;
}

nav .logo .logoLink {
  text-decoration: none !important;
  color: #fff !important;
}

nav .navBtnsContainer a {
  border: none;
  padding: 8px 25px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
}

nav .navBtnsContainer a:hover {
  filter: brightness(1.15);
}

nav .navBtnsContainer .navLoginBtn {
  margin-right: 10px;
  background: rgb(35, 96, 250);
  background: linear-gradient(
    132deg,
    rgba(35, 96, 250, 1) 0%,
    rgba(57, 113, 255, 1) 100%
  );
}

nav .navBtnsContainer .navSignupBtn {
  background: rgb(250, 95, 61);
  background: linear-gradient(
    132deg,
    rgba(250, 95, 61, 1) 0%,
    rgba(255, 111, 72, 1) 100%
  );
}

.titleSection {
  width: 100%;
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/lolbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleSection .titleText {
  color: #fff;
  font-size: 50px;
  text-shadow: 0px 2px 3px #000;
}

.finderSection {
  margin-top: 40px;
  width: 100%;
  text-align: center;
}

.finderSection .finderInfoText {
  margin-top: 8px;
  position: relative;
}

.finderSection hr {
  width: 150px;
  margin: 20px auto;
  border: 1px solid rgb(35, 96, 250);
}

.announcementsSection {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 40px 40px;
  margin: 50px auto 50px auto;
}

.announcementsSection .announcementElement {
  box-shadow: 0px 7px 24px 0px rgb(226, 226, 226);
  background: #fefefe;
  border-radius: 10px;
  position: relative;
}

.announcementsSection .announcementElement .announcementName {
  font-weight: 600;
  padding: 25px 0 10px 25px;
}

.announcementsSection .announcementElement .announcementRank {
  font-weight: 600;
  padding: 0 0 25px 25px;
}

.announcementsSection .announcementElement .announcementImage {
  width: 100%;
  height: 100px;
  border-radius: 10px 10px 0 0;
  background: url("./img/annBg.jpg");
  background-position: center;
  background-size: cover;
}

footer {
  background: #333;
  width: 100%;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}

footer .footerMenu .navLoginBtn {
  margin-right: 20px;
}

footer .footerMenu a,
footer .logo a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

footer .footerMenu a:hover {
  color: #bbb;
}
